@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #437ab9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #445a73;
}

.background {
  display: flex;
  background-color: #87B6E1;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  border-radius: 50px;
  width: 1395px;
  height: 753px;
  position:relative;
}
.right {
  position: relative;
  background-color: #1f3b5b;
  
  width: 451px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  flex-direction: column;
  display: flex;
}

.left {
  background-color: #ddf0f5;
  flex: 1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;

  padding-left: 85px;
  padding-top: 71px;
  padding-right: 63px;
  flex-direction: column;
}

.Placeholder {
  display: flex;
  width: 273px;
  height: 44px;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  box-sizing:border-box;
  border: 0;
  background: transparent;
  outline: none;
}

.wrapper{
  display: flex;
  position: relative;
  padding: 0 0 0 40px;
  background-color: white;
  border-radius: 20px;
}

.wrapper img{
  position: absolute;
  align-self: center;
  left: 10px;
}

.input::placeholder{
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  
}

.Placeholder p {
  font-family: "Inter";
  width: 101px;
  height: 15px;
  font-size: 12px;
  font-style: normal;
  color: #d9d9d9;
}


.Placeholder img {
  padding-left: 25px;
  padding-right: 13px;
  height: 23px;
}

/*.Lupa{
 width: 23px;
 height: 23px;
}*/

.Nav {
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

.AP {
  display: flex;
  justify-content: center;
  height: fit-content;
  display: inline;
  padding-left: 24px;
}

.AP p {
  display: inline;
  font-family: "Inter";
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

.AP img {
  width: 10px;
  height: 5.9px;
}

.WF {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.Images {
  display: flex;
  align-items:top;
  gap:30px;
  width: auto;
  overflow-x: scroll;
  box-sizing: content-box;
  overflow-y: hidden;-ms-overflow-style: none; 
  scrollbar-width: none; 
  padding-block:20px;
  padding-right: 30px;
  padding-left:10px;
  max-width: 750px;
}

.Images img {
  display: flex;
  width: fit-content;
  height: 161px;
  border-radius: 20px;

}

.Poze:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Poze{
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:12px;
  white-space: nowrap;
  overflow: hidden;
  width: 130px;
  text-overflow: ellipsis;
}

.Poze img{
  overflow: hidden;
  width: 130px;
  
}

.Plus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 120px;
  height: 161px;
  border: 1px solid black;
  border-radius: 10px;
  flex-shrink: 0;
}

.Plus img {
  height: 28px;
  width: 28px;
}

.Plus p {
  font-family: "Inter";
  font-size: 12px;
}

.Plus:hover {
  border-color: #6ea7e8;
  color: #6ea7e8;
  cursor: pointer;
}

.Plus:hover svg path {
  fill: #6ea7e8;
}

.City {
  display: flex;
 margin:0px;
  font-size: 12px;
  font-weight: 700;
}

.Buttons {
  display: flex;
  font-family: "Inter";
  font-size: 12px;
  gap: 27px;
  font-weight: 700;
  color: #acacac;
  margin: 0px;
  margin-top: 9px;
}

.Buttons p{
  margin-bottom: 26px;
}

.Buttons p:hover {
  color: black;
  cursor: pointer;
}

.Buttons .active {
  color: black;
  font-weight: 700;
}
.Buttons p:hover .Week {
  color: #EA3B3B;
}

/* .Table td{
padding:0px;
width:fit-content;

} */

.Table {
  font-family: "Inter";
  font-size: 9px;
  padding: 0px;
  max-height: 262px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 15px;
}

.Table tr {
  display: flex;
  flex-direction: row;
  padding: 0px;
  font-weight: 400;
  margin-bottom: 19px;
  justify-content: space-between;
}

.Table td {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Picatura {
  width: fit-content;
  gap:5px;
}

.Rectangle {
  width: 214px;
  height: 9px;
  background: #d9d9d9;
  border-radius: 20px;
  padding-inline : 14px;
}

.Rectangle2 {
  display: flex;
  align-self: center;
  left: 670px;
  width: 70px;
  height: 9px;
  background: #ea3b3b;
  border-radius: 20px;
}

.grade {
  display: flex;
  gap: 15px;
}

.Profile {
  display: flex;
  justify-content: Space-around;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin-top: 49px;
}

.Profile img {
  border-radius: 10px;
}

.Profile img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Profile p {
  display: flex;
  margin: 0px;
  align-items: baseline;
}

.text2 {
  margin: 0;
  display: flex;
  background-color: #ea3b3b;
  border-radius: 20%;
  padding: 0 4%;
  flex-wrap: nowrap;
  height: fit-content;
  font-size: 9px;
  font-weight: 700;
}

.Notificari {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pozabgd {
  border-radius: 5px;
  margin: 0;
  width: 60px;
  height: 60px;
}

.pozabgd:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.profile {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex: 0.5;
}

.profile p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #ffffff;
}

.notif {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5%;
}
.text1 {
  margin: 0%;
}
.text2 {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: red;
  border-radius: 20%;
  padding: 0 2%;
  flex-wrap: nowrap;
  height: fit-content;
}
.text3 {
  display: flex;
  margin: 0;
}
.nor2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 45%;
  right: 0;
  user-select: none;
  z-index: 1;
  pointer-events: none;
}
.nor2 img {
  width: 100%;
}

.nor1 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
}
.nor1 img {
  width: 100%;
}
.titl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.vreme {
  display: flex;
  flex-direction: column;
}
.vreme p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  color: #ffffff;
}

.sectiune1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.II {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.Bigger {
  font-size: 200%;
}
.temp {
  display: flex;
  flex-direction: row;
  color: white;
}
.gradeR {
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
}
.celsius {
  font-size: 40px;
  margin-top: 20px;
}

.date {
  font-size: 12px;
  font-weight: 300;
}
.zii {
  font-size: 30px;
  font-weight: 1000;
}
.oras p {
  font-size: 12px;
  font-weight: 200;
  color: #d9d9d9;
}

.oras img{
  width: 26px;
  height: 26px;
  transition: 0.5s ease-in-out;
}

.oras img:hover{
  transform: scale(1.21);
  cursor: pointer;

}

.oras{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.oras_over {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.info p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  color: #d9d9d9;
  font-size: 12px;
}
.ploaie {
  margin-top: 61px;
  margin-left: 43px;
}
.ploaie p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight:700;
}
.nume p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  color: #d9d9d9;
  font-weight: 400;
  font-size: 9px;
  justify-content: space-between;
}
.nume {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 16px;
  margin-bottom: 10%;
}
.tabel_over {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  padding-top: 30px;
  padding-left: 43px;
  width: 97%;
  flex-direction: row;
  height: 100%;
}
.sectiune2 {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.sanse {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 75%;
}
.sanse img {
  width: 100%;
}
.poza1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap:15px;
}
.poza1 p {
  color: #ffffff;
  margin: 0px;
}

.line{
  width:55%;
}

.line1 {
  
  height: 60%;
  background-color: #365b7d;
  display: flex;
  border-radius: 8px;
}
.line2 {
  
  height: 17%;
  background-color: #365b7d;
  display: flex;
  border-radius: 8px;
}
.line3 {
  
  height: 100%;
  background-color: #365b7d;
  display: flex;
  border-radius: 8px;
}
.line4 {
 
  height: 23%;
  background-color: #365b7d;
  display: flex;
  border-radius: 8px;
}
.line5 {
 
  height: 23%;
  background-color: #365b7d;
  display: flex;
  border-radius: 8px;
}
.overlay{
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  
  
}
.modal {
  width: 22vw;
  height: 38vh;
  position: absolute;
  display: none;
  margin: 0;
  background-color: #F1FCFF;
  z-index: 5;
  border-radius: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.line:hover {
  transition: 0.3s;
  background-color: yellow;
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width:500px){
  .background{
    justify-content: unset;
    align-items: flex-start;
    height: 100%;
  }
  .main{
    margin-top:20px;
    margin-bottom:20px;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  .right{
    padding-top: 20px;
    width: 93%;
    margin-inline:15px ;
    border-top-left-radius:30px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 30px;

    padding-bottom: 30px;


  }

  .left{
    border-bottom-right-radius:30px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius: 30px;
    padding-right:0px;
    padding-left:40px;
    padding-top: 34px;

    margin-inline:15px;
    width: 83%;

  }

.Nav{
  display:flex;
  gap: 24px;
}

  .AP{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-left:12px;
    gap:10px;
  }

  .Table{
    overflow: scroll;
    padding-bottom: 5px;
  }

.Placeholder{
  width:200px;
}

.Images{
  display:flex;
  gap:25px;
}

.Placeholder:hover {
  border: 0px;
}

.Poze:hover {
  transform: scale(1);
}

.line:hover {
  background-color: #365B7D;;
}
.Table tr{
  width:500px;
  display:flex;
  justify-content: space-between;
}

.sectiune2{
  display:none;

}

.sectiune1{
padding-bottom:40px;
}

.nor1{
  top:10%;

}

.Picatura{
  display:flex;
  gap:5px;
}

.WF p:nth-of-type(1) {
  margin:0;
  padding-top: 20px;

}
.modal{
  width: 90%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

}

.popup-input{
  display: flex;
  height: 9%;
  width: 81%;
  border: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 22px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.45)  ;
}

.popup-input::placeholder{
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  
} 



.preview{
  height: 43%;
  width: 85%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview img{
  height: 50%;
  width: 50%;
}

.AddCity{
  height: 12%;
  width: 30%;
  background-color: #365b7d;
  border-radius: 17px ;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 0;
}

.AddCity:hover{
  transform: scale(1.1);
  cursor: pointer;
}
